<!DOCTYPE html>
<html ng-app="AngAppTest">
<head>
    <title>Angular test application</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    
    <script src="scripts/libs/jQuery/uncompressed/jquery_1_10_2.js"></script>
    <script src="scripts/libs/angular/angular.js"></script>
    <script src="scripts/libs/angular/angular-resource.js"></script>
    <script src="scripts/custom/app.js"></script>
    <script src="scripts/custom/models/models.js"></script>
    <script src="scripts/custom/controllers/controllers.js"></script>
    <script src="scripts/custom/services/services.js"></script>
    <script src="scripts/custom/filters/filters.js"></script>
    <script src="scripts/custom/directives/directives.js"></script>
</head>
<body>
    <div ng-controller="MenuCtrl" class="menu-view">
        <ul class="nav nav-tabs">
            <li ng-repeat="item in menuItems" data-item-id="{{item.id}}" class="{{item.active}}">
                <a ng-click="event.menuClick(this)" data-item-id="{{item.id}}" href="{{item.link}}">{{item.text}}</a>
            </li>
        </ul>
    </div>
    <div ng-view class="other-view"></div>
</body>
</html>
