<div ng-controller="NewCtrl" class="text-right">
    <div class="input-group">
        <span class="input-group-addon">id:</span>
        <input type="text" custom-validate="{{validate.id.types}}" custom-validate-model="id" class="form-control input-sm " placeholder="car id" ng-model="newItem.id" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">car name:</span>
        <input type="text" custom-validate="{{validate.carName.types}}" custom-validate-model="carName" class="form-control input-sm" placeholder="car name" ng-model="newItem.carName" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">amount:</span>
        <input type="text" custom-validate="{{validate.amount.types}}" custom-validate-model="amount" class="form-control input-sm" placeholder="amount" ng-model="newItem.amount" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">description:</span>
        <input type="text" custom-validate="{{validate.desc.types}}" custom-validate-model="desc" class="form-control input-sm" placeholder="description" ng-model="newItem.desc" />
    </div>
    <a href="#/list" class="btn btn-default btn-sm" ng-click="save()">save</a>
    <div class="alert alert-danger" ng-hide="isValid">{{message}}</div>
</div>
